/* Estilo para a seção de contato */
#Contato {
    position: relative;
    display: grid;
    justify-content: space-around;
    background-color: #083d77;
    padding: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

/* Estilo para o título dentro de .titulo */
.titulo h1 {
    color: #fff;
    width: 300px;
    text-align: left;
    padding-bottom: 1rem;
}

/* Estilo para o botão de contato dentro de .contato_btn */
.contato_btn button {
    cursor: pointer;
    text-align: center;
    border: none;
    background: none;
    width: 120px;
    height: 50px;
    border-radius: 40px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;
    transition: all .5s ease;
}

/* Efeito hover para o botão de contato */
.contato_btn button:hover {
    background-color: #9c9c9c;
}

/* Estilo para o parágrafo de email dentro de .email */
.email p {
    color: #fff;
    width: 300px;
    font-size: 24px;
    padding-bottom: 1rem;
    text-align: center;
}

/* Estilo para a seção de redes sociais */
.rede_social {
    display: flex;
    align-items: center;
}

/* Estilo para os ícones de redes sociais */
.icons {
    margin: 0 15px;
}

.icons i {
    position: relative;
}

/* Estilo para os links dos ícones */
.icons a {
    color: #fff;
    font-size: 36px;
    transition: all .5s ease;
}

/* Efeito hover para os links dos ícones */
.icons a:hover {
    color: #000;
    transition: all .5s ease;
}