/* Define o posicionamento e o tamanho da área do formulário */
#Form {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estiliza o contêiner do formulário */
.div_form {
    background-color: whitesmoke;
    padding: 6px;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 darkgray;
}

/* Estiliza os formulários de login e cadastro */
form {
    position: absolute;
    margin-top: 80px;
    transition: .5s;
    width: 300px;
    height: 600px;
}

/* Estiliza os botões de alternância entre entrar e cadastrar */
.buttons_form {
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 7px #083d77;
}

/* Estiliza os botões de entrada e cadastro */
.buttons_form button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 29px;
}

/* Estiliza o botão de cor (não especificado no HTML) */
.btn_cor {
    position: absolute;
    width: 108px;
    height: 100%;
    background: linear-gradient(to right, #083d77, #306998);
    border-radius: 30px;
    transition: .3s;
}

/* Estiliza o botão de entrar */
#btn_entrar {
    color: #fff;
    font-weight: 600;
    transition: .8s;
}

/* Estiliza o botão de cadastrar */
#btn_cadastrar {
    color: #000;
    font-weight: 600;
    transition: .8s;
}

/* Estiliza os campos de entrada de texto e senha */
input[type="text"],
input[type="password"] {
    position: relative;
    border: none;
    margin-top: 40px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
}

/* Estiliza os botões de envio do formulário */
button[type="submit"] {
    background: #083d77;
    color: white;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 15px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 40px;
    cursor: pointer;
    transition: .5s;
}

/* Define a aparência do botão quando o cursor está sobre ele */
button[type="submit"]:hover {
    background: #062d57;
}

/* Estiliza a div de opções de check (Lembrar senha e Termos) */
.divCheck {
    margin: 10px 0 0 5px;
    width: 80%;
    font-size: 13px;
}

/* Posiciona o formulário de login */
#Entrar {
    left: 25px;
}

/* Posiciona o formulário de cadastro */
#Cadastrar {
    left: 450px;
}

/* Estiliza os ícones */
i {
    position: absolute;
    left: 0;
    padding: 10px 10px;
}

/* Entrar */

.iEmail-login {
    top: 39px;
}

.iPassword-login {
    top: 110px;
}

/* Cadastrar */
.iNome-cadastro{
    top: 38px;
}

.iEmail-cadastro{
    top: 112px;
}

.iPassword1-cadastro {
    top: 184px;
}

.iPassword2-cadastro {
    top: 257px;
}