/* Estilo para a seção #Home_1 */
#Home_1 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

/* Estilo para o contêiner .home_cont_1 */
.home_cont_1 {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5rem;
    background-color: #fff;
}

/* Estilo para o título dentro de .info_text_1 */
.info_text_1 .titulo_1 h1 {
    font-size: 48px;
    margin: 0 15% 0 15%;
    text-align: left;
    padding-bottom: 1rem;
}

/* Estilo para o parágrafo dentro de .info_text_1 */
.info_text_1 .texto_1 p {
    text-align: left;
    margin: 0 15% 0 15%;
    padding-right: 2rem;
    font-size: 26px;
}

/* Estilo para a imagem dentro de .info_img_1 */
.info_img_1 img {
    max-width: 550px;
    border-radius: 20px;
}

/* Estilo para a seção #Home_2 */
#Home_2 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

/* Estilo para o contêiner .home_cont_2 */
.home_cont_2 {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5rem;
    background-color: #306998;
}

/* Estilo para o título dentro de .info_text_2 */
.info_text_2 .titulo_2 h1 {
    color: #fff;
    font-size: 48px;
    margin: 0 15% 0 15%;
    text-align: left;
    padding-bottom: 1rem;
}

/* Estilo para o parágrafo dentro de .info_text_2 */
.info_text_2 .texto_2 p {
    color: #fff;
    text-align: left;
    margin: 0 15% 0 15%;
    padding-right: 2rem;
    font-size: 26px;
}

/* Estilo para a imagem dentro de .info_img_2 */
.info_img_2 img {
    max-width: 550px;
    border-radius: 20px;
}

/* Estiliza a seção com id 'Home_3' */
#Home_3 {
    position: relative;
    display: flex;
    width: 100%;
    height: 60vh;
    background-color: #fafafa;
}

/* Estiliza o container com classe 'home_cont_3' */
.home_cont_3 {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 10%;
}

/* Estiliza o título dentro da classe 'info_text_3' */
.info_text_3 .titulo_3 h1 {
    color: #000;
    font-size: 48px;
    margin: 0 15% 0 15%;
    text-align: left;
    padding-bottom: 1rem;
}

/* Estiliza o parágrafo dentro da classe 'info_text_3' */
.info_text_3 .texto_3 p {
    color: #000;
    text-align: left;
    margin: 0 15% 0 15%;
    padding-right: 2rem;
    font-size: 22px;
}

/* Estiliza a imagem dentro da classe 'info_img_3' */
.info_img_3 img {
    max-width: 600px;
    border-radius: 180px;
}

/* Estiliza a seção com id 'Home_4' */
#Home_4 {
    position: relative;
    display: flex;
    width: 100%;
    height: 60vh;
    background-color: #fafafa;
}

/* Estiliza o container com classe 'home_cont_4' */
.home_cont_4 {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 10%;
}

/* Estiliza o título dentro da classe 'info_text_4' */
.info_text_4 .titulo_4 h1 {
    color: #000;
    font-size: 48px;
    margin: 0 15% 0 15%;
    text-align: left;
    padding-bottom: 1rem;
}

/* Estiliza o parágrafo dentro da classe 'info_text_4' */
.info_text_4 .texto_4 p {
    color: #000;
    text-align: left;
    margin: 0 15% 0 15%;
    padding-right: 2rem;
    font-size: 22px;
}

/* Estiliza a imagem dentro da classe 'info_img_4' */
.info_img_4 img {
    max-width: 600px;
    border-radius: 180px;
}

/* Estiliza a seção com id 'Home_5' */
#Home_5 {
    position: relative;
    display: flex;
    width: 100%;
    height: 60vh;
    background-color: #fafafa;
}

/* Estiliza o container com classe 'home_cont_5' */
.home_cont_5 {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 10%;
}

/* Estiliza o título dentro da classe 'info_text_5' */
.info_text_5 .titulo_5 h1 {
    color: #000;
    font-size: 48px;
    margin: 0 15% 0 15%;
    text-align: left;
    padding-bottom: 1rem;
}

/* Estiliza o parágrafo dentro da classe 'info_text_5' */
.info_text_5 .texto_5 p {
    color: #000;
    text-align: left;
    margin: 0 15% 0 15%;
    padding-right: 2rem;
    font-size: 22px;
}

/* Estiliza a imagem dentro da classe 'info_img_5' */
.info_img_5 img {
    max-width: 600px;
    border-radius: 180px;
}

/* Estiliza a seção com id 'Home_6' */
#Home_6 {
    position: relative;
    display: flex;
    width: 100%;
    height: 30vh;
    background-color: #fafafa;
}

/* Estiliza o container com classe 'home_cont_6' */
.home_cont_6 {
    width: 100%;
    display: flex;
}

/* Estiliza a classe 'info_text_6' */
.info_text_6 {
    margin: auto;
}

/* Estiliza o título dentro da classe 'titulo_6' */
.titulo_6 {
    color: #000;
    font-size: 32px;
}

/* Estiliza a seção com id 'Home_7' */
#Home_7 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}